	<header id="header">
	<div id="leftMenu" class = "header">
		<div id="menuicon">
			<div id="mi1"></div>
			<div id="mi2"></div>
			<div id="mi3"></div>
		</div>
	</div>
	<div id="generalButtonsdiv" class="header">
		<button class="genbutton">a</button>
		<button class="genbutton">b</button>
	</div>
  <div id="logodiv" class = "header">
    <img id="logo" src="karpool.png" onclick = "goTo('/public/homepage.ejs')">
  </div>
	</header>
