<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Karpool</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <div id="butttons">
    <img id="logo" src=
  </div>
<img id="abuttonlol" src="baguetteflag.jpg" onclick="goTo('home.html')">&nbsp;&nbsp;<button class="abutton"  onclick="goTo('home.html')">Home</button>&nbsp &nbsp &nbsp <button class="abutton" onclick="goTo('aboutus.html')">About us</button>&nbsp &nbsp &nbsp <button class="abutton" onclick="goTo('theanthem.html')">The Anthem</button>&nbsp &nbsp &nbsp <button class="abutton" >Games</button>&nbsp;&nbsp;<hr>
  <script>
    var abuttonloljs = document.getElementById('abuttonlol')
    abuttonloljs.style.borderRadius = "50%"
    abuttonloljs.style.width = "35px"
    abuttonloljs.style.height = "auto"
    function goTo(website) {
      location.href = website
    }
  </script>
  </body>
</html>
