 
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Karpool</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<div id="maintitlediv">
	<header id="header">
	<div id="leftMenu" class = "header">
		<input type="checkbox" id="check">
		<label for="check">
		<div id="menuicon" onclick="this.classList.toggle('change')">
			<div id="mi1"></div>
			<div id="mi2"></div>
			<div id="mi3"></div>
		</div>
		</label>
		<div class="sidebar">
			<header>Menu</header>
			<a href="../public/homepage.ejs" class="active">
				<div></div> <!--buffers-->
				<span>Home</span>
			</a>
			<a href="../private/homepage.ejs">
				<div></div>
				<span>Dashboard</span>
			</a>
			<a href="../private/allCarpools.ejs">
				<div></div>
				<span>Join a Karpool</span>
			</a>
		</div>
	</div>
	<button id = "genbutton1" class="genbutton hidden">Sign Up</button>
	<button id = "genbutton2" class="genbutton hidden">Log In</button>
  <div id="logodiv" class = "header">
    <img id="logo" src="karpool.png" onclick = "goTo('/')">
  </div>
	</header>
  <script>

		document.addEventListener("scroll", function() {
			console.log("scrol")
			const gb1 = document.getElementById('genbutton1');
			const gb2 = document.getElementById('genbutton2');
  		if (window.scrollY == 0) {
				hideshow(gb1, "on"); hideshow(gb2, "on");
  		} else {
				hideshow(gb1, "off"); hideshow(gb2, "off");
			}
		});
		function hideshow(t, d) {
			if (t.classList.contains('hidden') && (d == "off")) {
				t.style.webkitAnimationName = 'show';
				t.style.webkitAnimationDuration = '0.5s';
				t.classList.toggle('hidden');
			} else if (!t.classList.contains('hidden') && (d == "on")) {
				t.style.webkitAnimationName='hide';
				t.style.webkitAnimationDuration = '0.5s';
				setTimeout(function(){t.classList.toggle('hidden');}, 500);
			}
		}
    const logoJS = document.getElementById('logo');
    logoJS.style.width = "100px";
    logoJS.style.height = "auto";
    function goTo(website) {
      location.href = website;
    }
  </script>
<!--end of header-->

		<h1 id="maintitle">KARPOOL</h1>
		</div>
		<div class="secondpage">
			<h1 class="smaintitle">ABOUT US</h1>
		</div>
		<div class="thirdpage">
			<span><h1>W</h1><p>e are a start-up based in Bellevue, Washington, focused on tackling local issues using coding. We focus on issues such as traffic congestion, homelessness, drug use, and climate change. For the 2023 EmP Hackfest, we decided to reduce traffic congestion in Washington State by creating a carpooling website, known as Karpool. With Karpool, users can find drivers or passengers near them, and agree to join their carpooling route. Compared to Vanpool, which makes customers use their company vans, Karpool allows users to register their own vehicles, which allows for a more streamlined process. Rather than looking at ourselves as a taxi service, we are more of a social network, connecting drivers and passengers so that there are less cars on the road. With less cars, carbon emissions and traffic congestion will be reduced, and with Karpooling, new connections can be formed between drivers and passengers.</p></span>
		</div>
		<div class="fourthpage">
			<h1 class="smaintitle">SIGN UP</h1>
			<a href="/views/public/signin.ejs" id="cancel">LOG IN</a>
			<a href="/views/public/signup.ejs" id="signinbtn">SIGN UP</a>
		</div>
		<style>
			#cancel {
				background-color: white;
				border: none;
				color: gray;
				padding: 10px 15px;
				text-align: center;
				text-decoration: none;
				font-size: 20px;
				margin: 0px 2px;
				margin-right: 20px;
				cursor: pointer;
				display: inline-block;
				border-radius: 10px;
				opacity: 50%;
				transition: opacity 0.5s;
			}
			#cancel:hover {
				opacity: 100%;
			}
			#signinbtn {
				text-decoration: none;
				cursor: pointer;
				background-color: white;
				border: none;
				color: gray;
				padding: 10px 15px;
				font-size: 20px;
				margin: 0px 2px;
				margin-left: 20px;
				display: inline-block;
				border-radius: 10px;
				transition: background-color 0.5s, color 0.5s;
			}
			#signinbtn:hover {
				background-color: rgba(130, 171, 237, 1);
				color: white;
			}
		</style>
  </body>