html {
  height: 100%;
  width: 100%;
}
body {
	background-color: #3f87a6;
}
.smaintitle {
	font-size: 100px;
	color: mediumturquoise;
	text-align: center;
	padding: 20vh 0;
}
.secondpage {
	height: 100%;
	background-color: linear-gradient(-45deg, mediumturquoise, darkslategray);
}
.thirdpage {
	background-color: linear-gradient(45deg, mediumturquoise, darkslategray);
	height: 100%;
}
#check {
	visibility: hidden;
}
#menuicon {
	position: fixed;
	left: 10px;
	display: inline-block;
	cursor: pointer;
	margin-top: 15px;
	margin-left: 15px;
	transition: 0.5s;
}
#mi1, #mi2, #mi3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.sidebar {
	position: fixed;
	width: 240px;
	left: -240px;
	height: 100%;
	background-color: #fff;
	transition: all .5s ease;
}
.sidebar header{
	font-size: 28px;
	color: darkslategray;
	line-height: 70px;
	text-align: center;
	background-color: #fff;
	user-select: none;
}

.sidebar a{
	display: block;
	height: 65px;
	width: 100%;
	color: darkslategray;
	line-height: 65px;
	padding-left: 30px;
	box-sizing: border-box;
	text-decoration: none;
	border-left: 5px solid transparent;
	transition: all .5s ease;
}

sidebar a.active, sidebar a:hover {
	border-left: 5px darkgray;
	color: #fff;
	background: gray;
}

.sidebar a i {
	font-size: 23px;
	margin-right: 16px;
}
.sidebar a span {
	letter-spacing: 1px;
	text-transform: uppercase;
}

#check:checked ~ .sidebar{
	left: 0;
}
#check:checked ~ label #menuicon {
	margin-left: 245px;
	visibility: visible;
}

@-webkit-keyframes show {
	from {opacity: 0%;}
	to {opacity: 100%;}
}
@-webkit-keyframes hide {
	from {opacity: 100%;}
	to {opacity: 0%;}
}
#logodiv {
	position: fixed;
	right: 10px;;
	margin-top: 20px;
	margin-right: 10px;
	cursor: pointer;
}


.change #mi1 {
  transform: translate(0, 9px) rotate(-45deg);
}

.change #mi2 {opacity: 0;}

.change #mi3 {
  transform: translate(0, -9px) rotate(45deg);
}
#header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.genbutton {
	position: fixed;
	top: 30px;
	height: 40px;
}
#genbutton1 {
	left: 25%
}
#genbutton2 {
	right: 35%
}

.hidden {
	visibility: hidden;
}

#maintitle {
	font-size: 150px;
	color: mediumturquoise;
	text-align: center;
	padding: 20vh 0;
}
#maintitlediv {
	background: radial-gradient(#f69d3c, #3f87a6);
	height: 100vh;
	width: 100vw;
}

.genbutton {
	cursor: pointer;
	background-color: white;
	border: none;
	color: gray;
	padding: 10px 15px;
	font-size: 20px;
	margin: 0px 2px;
	margin-left: 20px;
	display: inline-block;
	border-radius: 10px;
	transition: background-color 0.5s, color 0.5s;
}
.genbutton:hover {
	background-color: rgba(130, 171, 237, 1);
	color: white;
}
